@model List<Modelo.TIPO_USUARIO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="page-header">
    <a href="~/TipoUsuario/AgregarEditar/" class="btn btn-lg btn-success pull-right"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>Tipos de Usuarios
</h2>

@using (Html.BeginForm("Buscar", "TipoUsuario", FormMethod.Post, new { criterio = "frm-buscar" }))
{
    <div class="text-left">
        @Html.Label("Buscar: ")
        @Html.TextBox("criterio", null)
        <button type="submit" class="btn btn-lg btn-warning pull-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
}
<br />

<div class="list-group" id="list"></div>

<script>
    $(document).ready(function () {
        $("#list").anexGrid({
            class: 'table-striped table-hover table-condensed',
            columnas: [
                //columna1: ID
                { leyenda: "IDTIPOUSUARIO", columna: "IDTIPOUSUARIO", ordenable: true },
                //columna1: Nombre
                { leyenda: "NOMBRE", columna: "NOMBRE", ordenable: true },
                //columna1: Estado
                { leyenda: "ESTADO", columna: "ESTADO", ordenable: true },
                //Columnas de los botones
                { style: 'Width: 80px;' },//Visualizar
                { style: 'Width: 80px;' },//Modificar
                { style: 'Width: 80px;' },//Eliminar
            ],

            modelo: [
                //campo 1: IDTIPOUSUARIO
                { propiedad: 'IDTIPOUSUARIO' },
                //campo 2: NOMBRE
                {
                    propiedad: 'NOMBRE', formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/TipoUsuario/AgregarEditar.cshtml")' + obj.IDTIPOUSUARIO,
                            contenido: valor
                        });
                    }
                },
                //Campo 3: ESTADO
                {
                    propiedad: 'ESTADO', formato: function (tr, obj, valor) {
                        return valor == "A" ? "Activo" : "Inactivo"
                    }
                },

                //para los botones
                //Botón Visualizar
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/TipoUsuario/Ver")' + obj.IDTIPOUSUARIO,
                            contenido: '<i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>',
                            class: 'btn btn-lg btn-primary'
                        });
                    },
                },
                //Botón Modificar
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/TipoUsuario/AgregarEditar")' + obj.IDTIPOUSUARIO,
                            contenido: '<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>',
                            class: 'btn btn-lg btn-info'
                        });
                    },
                },
                //Botón Eliminar
                {
                    formato: function (tr, obj, valor) {
                        return anexGrid_link({
                            href: '@Url.Content("~/TipoUsuario/Eliminar")' + obj.IDTIPOUSUARIO,
                            contenido: '<i class="glyphicon glyphicon-trash" aria-hidden="true"></i>',
                            class: 'btn btn-lg btn-danger',
                            attr: [
                            'onclick="return confirm(\'¿Está seguro de eliminar el registro?\')"'
                            ]
                        });
                    },
                }
            ],
            url: '@Url.Content("~/TipoUsuario/CargarTipoUsuario/")',
            paginable: true,
            limite: [10, 20, 50, 100],
            columna: 'IDTIPOUSUARIO',
            columna_orden: "DESC"
        });
    })
</script>